@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    display: flex;
}

.photograph-header article {

}

.photograph-header h2 {
    color: #DB8876;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.photographer_section article a {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.photographer_section article p {
    margin: 5px;
}


.photographer_info{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    flex-direction: row;
    justify-content: space-between;
}


.photographer_info article img {
    height: 180px;
    width: 180px;
    border-radius: 100%;
}

.photographer_info article a {
    display: flex;
    justify-content: flex-end;
}


.media_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 50px 100px;
}

.media_section article img {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: fill;
}

.media_section article video {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: fill;
}

.media_section article h2 {
    display: flex;
    justify-content: space-between;
}

.tri_section{
    display: flex;
    flex-direction: row;
    margin: 50px 100px;
}

.prix{
    color: gray;
}

.location{
    color: #901C1C;
}

.titre_media{
    color: #901C1C;
}

.img_coeur{
    height: 20px !important;
    width: 20px !important;
    border-radius: 0 !important;
}


.img-galerie {
    cursor: pointer;
}

.img-galerie:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.spanLikes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.photographer_box{
    width: 25%;
    background-color: #D3573C;
    position: fixed;
    bottom: 0px;
    right: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-around;
}