.media_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 50px 100px;
}

.imgButton,.media_section div img,.media_section div video {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    border: none;
    background-color: white;
}

.media_section div h2 {
    display: flex;
    justify-content: space-between;
}

.titre_media {
    color: #901C1C;
}

.img_coeur {
    height: 20px !important;
    width: 20px !important;
    border-radius: 0 !important;
}


.img-galerie {
    cursor: pointer;
}

.img-galerie:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.spanLikes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.LikesMedia {
    cursor: pointer;
}

.addLikes{
    font-size: smaller;
    background-color: white;
    border: none;
    color: #901C1C;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.img_lightbox {
    height: 750px !important;
    object-fit:contain !important ;
}

@media (max-width: 1030px){
    .media_section {
        display: flex;
        gap: 70px;
        margin: 50px 54px;
        flex-wrap: wrap;
    }

    .divCard {
        height: 400px;
        width: 100%;
        margin: 0 0 70px 0;
        object-fit: cover;
    }
}